* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 100px;
  text-align: center;
}

//** ヘッダー **//

header {
  background-image: url(../images/main_visual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 580px;
  img {
    width: 100px;
    height: 100px;
  }
  .catch-copy {
    margin: 150px 0 190px 0;
    p {
      background-color: black;
      color: white;
      font-size: 36px;
      font-weight: bold;
      padding: 3px 5px;
      &:nth-child(1) {
        margin-bottom: 7px;
        width: 408px;
      }
      &:nth-child(2) {
        width: 226px;
      }
    }
  }
  .banner {
    position: absolute;
    top: 380px;
    left: 1240px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #008DD5;
    color: #008DD5;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 300ms;
    p:nth-child(1) {
      margin-bottom: 10px;
    }
    &:hover {
      background-color:  #008DD5;
      color: white;
    }
  }
}

/** ナビゲーション **/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  background-color: #008DD5;
  font-size: 16px;
  color: white;
  box-shadow: 0 2px 4px gray;
  nav {
    a {
      padding: 0 25px;
      &:nth-child(1) {
        padding-left: 100px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .contact-link {
    padding: 30px 50px;
    background-color: rgb(169, 217, 47);
    &:hover {
      background-color: rgb(198, 233, 110);
    }
  }
}

/** 最新情報 **/
#new-info {
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
    span {
      &:nth-child(1) {
        border-right: 16px solid transparent;
        border-top: 16px solid #008DD5;
      }
      &:nth-child(2) {
        border-left: 16px solid transparent;
        border-bottom: 16px solid #008DD5;
      }
    }
  }
  .news-wrapper {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 50px;
    a {
      display: block;
      text-align: left;
      margin-bottom: 20px;
      display: table;
      border-collapse: separate;
      border-spacing: 0 10px;
      font-size: 16px;
      span {
        &:nth-child(1) {
          display: table-cell;
        }
        &:nth-child(2) {
          display: table-cell;
          padding-left: 90px;
        }
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .past-news {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #008DD5;
    margin-bottom: 100px;
    &:hover {
      text-decoration: underline;
    }
  }
}

/** サービス **/
#service {
  background-color: #E6F6FF;
  padding-bottom: 100px;
  h2 {
    font-size: 32px;
    font-weight: bold;
    padding-top: 100px;
    margin-bottom: 50px;
    span {
      &:nth-child(1) {
        border-right: 16px solid transparent;
        border-top: 16px solid #008DD5;
      }
      &:nth-child(2) {
        border-left: 16px solid transparent;
        border-bottom: 16px solid #008DD5;
      }
    }
  }
  .service-bg {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    padding: 60px;
    .service-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      .service-text {
        text-align: left;
        width: 460px;
        line-height: 1.9;
      }
      .service-icon {
        width: 360px;
        .icon-upper {
          display: flex;
          margin-bottom: 20px;
          img {
            margin-right: 40px;
          }
        }
        .icon-lower {
          display: flex;
          justify-content: flex-end;
          img {
            margin-left: 40px;
          }
        }
      }
    }
    .btn-wrapper {
      width: 290px;
      border-radius: 4px;
      margin: 0 auto;
      border: 1px solid #008DD5;
      padding: 22px 52px;
      position: relative;
      transition: 300ms;
      .btn-more {
        color: #008DD5;
        font-weight: bold;
      }
      span {
        border-left: 10px solid transparent;
        border-bottom: 10px solid #008DD5;
        position: absolute;
        top: 78%;
        left: 95%;
      }
      &:hover {
        background-color: #008DD5;
        .btn-more {
          color: white;
        }
        span {
          border-left: 10px solid transparent;
          border-bottom: 10px solid #ffffff;
        }
      }
    }
  }
}

/** 強み **/
#three-strength {
  padding: 100px 0;
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    span {
      &:nth-child(1) {
        border-right: 16px solid transparent;
        border-top: 16px solid #008DD5;
      }
      &:nth-child(2) {
        border-left: 16px solid transparent;
        border-bottom: 16px solid #008DD5;
      }
    }
  }
  .strength-wrapper {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    .strength-img {
      border-radius: 50%;
    }
    .strength-text {
      width: 660px;
      text-align: left;
      h3 {
        font-weight: bold;
        font-size: 24px;
        border-bottom: 2px solid #008DD5;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.9;
      }
    }
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

/** お客様の声 **/
#customer-reviews {
  padding: 100px;
  background-color: #E6F6FF;
  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    span {
      &:nth-child(1) {
        border-right: 16px solid transparent;
        border-top: 16px solid #008DD5;
      }
      &:nth-child(2) {
        border-left: 16px solid transparent;
        border-bottom: 16px solid #008DD5;
      }
    }
  }
  .customer-wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    padding: 60px;
    justify-content: space-between;
    .customer-left {
      width: 400px;
    }
    .customer-right {
      width: 400px;
    }
    .customer {
      border: 1px solid #DDDDDD;
      border-radius: 10px;
      line-height: 1.8;
      .customer-org {
        height: 84px;
        background-color: #008DD5;
        color: white;
        padding: 20px;
        span:nth-child(2) {
          display: block;
        }
      }
      .customer-text {
        padding: 20px;
      }
    }
    .customer-upper {
      margin-bottom: 80px;
    }
  }
}

/** お問い合わせ内容 **/
#contact {
  padding: 100px;
  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    span {
      &:nth-child(1) {
        border-right: 16px solid transparent;
        border-top: 16px solid #008DD5;
      }
      &:nth-child(2) {
        border-left: 16px solid transparent;
        border-bottom: 16px solid #008DD5;
      }
    }
  }
  .contact-wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    .form {
      margin: 30px auto;
      &:nth-child(4) {
        position: relative;
        span {
          background: url(../images/icon-triangle.png);
          background-repeat: no-repeat;
          position: absolute;
          left: 180px;
          top: 44px;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input {
    display: block;
    width: 600px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 4px;
    text-align: left;
    padding: 7px;
  }
  select {
    display: block;
    width: 200px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 7px;
  }
  textarea {
    display: block;
    width: 600px;
    height: 200px;
    border: 1px solid #333333;
    border-radius: 4px;
    text-align: left;
    padding: 7px;
  }
  .btn-wrapper {
    width: 290px;
    border-radius: 4px;
    margin: 50px auto 0;
    border: 1px solid #333333;
    padding: 22px 52px;
    position: relative;
    transition: 300ms;
    .btn-more {
      color: #333333;
      font-weight: bold;
    }
    span {
      border-left: 10px solid transparent;
      border-bottom: 10px solid #333333;
      position: absolute;
      top: 78%;
      left: 95%;
    }
    &:hover {
      background-color: #333333;
      .btn-more {
        color: white;
      }
      span {
        border-left: 10px solid transparent;
        border-bottom: 10px solid #ffffff;
      }
    }
  }
}

/** フッター **/
footer {
  // height: 300px;
  background-color: #008DD5;
  padding: 50px 100px;
  .footer-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .footer-menu {
      ul {
        li {
          text-align: left;
          color: white;
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 20px;
          &:nth-child(1) {
            font-weight: bold;
            margin-bottom: 40px;
          }
          &:nth-child(6) {
            margin-bottom: 0px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}